/* 版面的設定 */
/*是選擇全部的意思*/

*{
    margin:0;                       
    padding: 0;                     
    box-sizing: border-box;     
    text-decoration: none;      
    transition: 0.4s all linear;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;   
    
}

/*
margin:0;         
padding: 0;       讓網頁間隙變成0
box-sizing: border-box; 指定寬度值邊框跟邊空框之間
text-decoration: none;  移除超連結預設格式
transition: 0.4s all linear; 所有連結希望有動畫效果
font-size: 22px; 所有文字的大小
*/

/* 第一區 header */

header{
    
    font-size: 20px;  
    /* 大小設定成20 */
    position: fixed;
    /* 導覽列位置固定在上方 */
    top: 0;left: 0;right: 0;
    /* 切齊整個網頁的線上面 */
    z-index: 100;
    /* 移動到最上層 會蓋過其他的 */
    display: flex;
    /* 置中的意思 */
    justify-content: space-between;
    /* 平均分配寬度 */
    align-items: center;
    /* 對齊居中 */
    padding: 10px;
    /* 調節元素內所有內容與元素之間的邊界間距 */
    background: rgb(248, 173, 180);
    box-shadow: 10px 1rem 1rem rgb(247, 235, 129);
    opacity: 1;
    /*背景顏色透明度1是不透明 0是透明*/
}

header .logo{
    font-size: 25px;
    font-weight: normal;
    color: rgb(73, 55, 6);
}
/*
header .logo{
    font-size: 25px;
    font-weight: normal;
    color: rgb(73, 55, 6);
}改變標題chiikawa字體大小 位置 顏色
*/

header .navbar a{
    font-size: 22px;
    font-weight: normal;
    color: rgb(73, 55, 6);
    padding-left: 10px;
}
/*
header .navbar a{
    font-size: 22px;
    font-weight: normal;
    color: rgb(73, 55, 6);
    padding-left: 10px;
}
右邊新產品 補貨產品等等的字體大小顏色
*/

header .navbar a:hover{
    font-size: 22px;
    font-weight: 900;
    color: rgb(102, 147, 173);
    margin-left: 10px;
    transition: 1s;
    background-color: rgb(248, 173, 180);
    padding: 18px 10px 18px 10px;
}
/*當滑鼠滑過右邊新產品 補貨產品時
用的特效 字體顏色改為藍色 背景改為 粉紅*/

body{
    background-image: url("../images/背景圖/bg.jpg");
}
/*改變背景圖*/

#menu-bar{
    font-size: 25px;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    padding: 8px;
    display: none;
}
/*
#是因為用html 裡面的id menu-bar
*/

/* 第二區 首頁 */

section{
    padding: 10px;

    max-width: 1800px;
    margin: auto;
    
}
.home{
    /*因為html的標籤是home 所以用.home 圖片跟版面*/
    display: flex;
    /*用flex設計版面*/
    flex-wrap: wrap;
    /*畫面包起來*/
    gap: 10px;
    /*裏頭的間距*/
    min-height: 500px;
    /*整體高度設定500*/
    align-items: center;
    /*項目置中*/
    
    background-size: cover;
    /*背景圖片覆蓋*/
    background-position:center;
}

.home .content{  
    /*home首頁的context內容*/
    flex:1 1 30px;
    /*flex的版面排版 1 1會自動排版 30px大小*/
    margin-top: 60px;
    /*在最上方加了60px的空間*/
    padding: 50px;
    /*上下左右內距加了50px空間*/
    background: rgb(248,173,180);
    background: linear-gradient(90deg, rgba(248,173,180,1) 20px, rgba(247,235,129,1) 100%); 
}

.home .content h3{
    /*home h3標題的字體大小*/
    font-size:40px;
    color: black;
}
.home .content p{
    /*標題裡面內容p的字體調整*/
    font-size: 18px;
    color: rgb(87, 50, 8);
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn{
    /*立即購買的按鈕設計*/
    padding: 8px;
    border: 3px solid rgb(240, 64, 122);
    /*3px是粗度  邊框顏色*/
    color: rgb(240, 64, 122);
    font-size: 18px;
    border-radius: 10px;
    /*圓弧狀*/
    z-index: 0;
    /*index移動到第0層*/

}

.btn:hover{
    background-color: rgb(240, 64, 122);
    color: white;
    box-shadow: inset 200px 0 0 0 rgb(240, 64, 122);
    /*box-shadow: 產生一種動畫效果 inset內部陰影的效果*/
    transition: 1.5s all;
    /*效果持續時間1.5s*/
}

.home img{
    flex:1 1 30px;
    /*排版*/
    width: 500px;
    /*設定成500寬度*/
    animation: moving 5s linear infinite;
    /*五秒鐘的動畫 linear 線性移動 infinite 無限*/
}

@keyframes moving{
    /*moving是上方moving的名稱*/
    0%{transform: translateX(0rem);}
    /*0的時候往左移*/
    50%{transform: translateX(0.8rem);}
    /*50的時候往右移0.8*/
    100%{transform: translateX(0rem);}
    /*100再往左移*/
}

/* 第三區 商品 */

.heading{
    text-align: center;
    font-size: 30px;
    color: rgb(2, 7, 5);
    padding: 30px;
    
}
/*
    把heading改位置 字體大小 顏色
*/

.heading span{
    font-size: 30px;
    color: rgb(2, 7, 5);
}
/*
    把heading span 改字體大小 顏色
*/

.category .box-container{
    
    margin-left:100px;
    margin-right:100px;
    
    display: flex;
    /*flex是指彈性布局 可以擴展和收縮 可以最大限度的填充空間*/
    flex-wrap: wrap;
    /*把超過100%的元素換行 避免東西全部排在一起*/
    gap:10px
    /*調整css gap屬性裡面的間距*/
    
    
    
}
/*
建立一個box-contauner的區域
來放商品裡面的內容 建立完就可以做排版
*/

.category .box-container .box{
    /*category .box-contauner 裏頭的box 就是那三格的框框 */
    flex: 1 1 30px;
    /*排版*/
    position: relative;
    /*定位*/
    overflow: hidden;
    /*避免跑出來*/
    box-shadow: 0 10px 10px black;
    /*陰影效果*/
    border: 1px solid black;
    /*邊框*/
    cursor:pointer;
    border-radius: 20px;
    /*邊框圓弧狀*/
}

.category .box-container .box .image{
    /*第一個圖片*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0%;
    left: -100%;
    /*移動到外面去*/
}

.category .box-container .box:hover .image{
    /*當滑鼠放上去這個box的時候hover 圖片*/
    /*第二張圖片*/
    left:0%
    /*剛剛移到-100 現在改到0 就可以把之前第一張圖片移動回來*/
}


.category .box-container .box .content{
    /* .category 裏頭得.box-container 裏頭的.box 裏頭的.content{ 照片下面的內容*/
    text-align: center;
    /*置中*/
    background-color: white;
    padding: 30px;
    height: 300px;
    
    
    background-color: rgb(247, 235, 129);
}

.category .box-container .box .content img{
    
    height: 170px;
    margin: 15px;
}
/*改格子內img的照片大小寬高以及間距*/

.category .box-container .box .content h3{
    font-size: 18px;
}

.category .box-container .box .content p{
    font-size: 18px;
}

/*改變 h3 跟 p的字體大小*/


/* 第四區菜單 */

.menu .box-container{
    display: flex;
    /*flew方式顯示*/
    flex-wrap: wrap;
    /*用wrap包起來*/
    gap: 10px;
    /*間距10px*/
}

.menu .box-container .box{
    /*菜單的三個box*/
    flex: 1 1 10px;
    /*用flew排版1 1就會自動排列 大小 */
    padding: 10px;
    /*裏頭的空間*/
    box-shadow: 5px 5px 5px rgba(248,173,180,1);
    /*陰影*/
    border: 1px solid rgb(241, 241, 241);
    /*框線*/
    background-color: white;
    /*背景*/
    background-size: cover;
    /*覆蓋底圖*/
    border-radius: 20px;
    /*圓滑*/
    padding-bottom: 30px;
    /*底部增加空間*/
    height: 500px;
    /*高度500*/
}

.menu .box-container .box img{
    /*圖片太大改變圖片大小*/
    height: 350px;
    /*圖片300 放得下三個欄位*/
    object-fit: cover;
    /*覆蓋全部*/
    width: 100%;
    /*寬度100*/
    border-radius: 20px;
    /*圓弧狀*/
    z-index: 1;
    /*圖片拉到上層*/
}

.menu .box-container .box .price{
    /*菜單的box裏頭的price價格*/
    font-weight: bold;
    /*粗細*/
    font-size: 25px;
    /*大小*/
    color: black;
    /*字體顏色*/
    background: white;
    /*字體背景顏色*/
    padding: 1px 5px 1px 5px;
    /*增加的空間間距*/
    opacity: 0.8;
    /*透明度*/
    position: absolute;
    /*浮起來*/
}

.menu .box-container .box h3{
    /*改h3*/
    color: black;
}
.menu .box-container .stars{
    /*改星星*/
    color: rgb(17, 17, 7);
    font-size: 5px;
    padding: 5px 5px 5px 5px;
    /*
    display: flex;
    置中*/
    justify-content: center;
    align-items: center;
}

.menu .box-container .box .btn2{
    /*訂購按鈕*/
    font-size: 25px;
    /*字體大小*/
    padding: 15px;
    /*增加空間*/
    border-radius: 20px;
    /*圓弧狀*/
    color:rgb(249, 252, 255);
    display: flex;
    /*置中*/
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 160, 248);
}
.menu .box-container .box .btn2:hover{
    /*滑鼠滑過訂購按鈕時產生的效果*/
    background-color: white;
    /*背景顏色*/
    color: rgb(5, 5, 4);
    /*文字顏色*/
    box-shadow: inset 400px 0 0 0 white;
    /*陰影產生在內部*/
    transition: 0.5s all;
    /*動畫效果*/
}

.menu .box-container .box .icons{
    /*box上面的愛心 讚之類的符號*/
    display: flex;
    /*排版方式*/
    flex-flow:column;
    /*變成直排欄位式*/
    color: aqua;
    position: relative;
    /* position: relative;設定relative 屬性 如果增加額外屬性 會使元素相對的 移動位置*/
    top: -80%;
    left: -1300%;
    transform: translate(-50%,-50%);
    transition: 1s;
    /*位置 動畫效果*/
    z-index: 1;
}

.menu .box-container .box:hover .icons {
    /*滑鼠滑過之後出現的效果*/
    left: 135%;
    opacity: 1;
}

.menu .box-container .box .icons a{
    /*box裡面icons 的超連結a*/
    padding: 10px;
    /*空間*/
    width: 45px;
    /*寬度*/
    line-height: 10px;
    /*高度*/
    font-size: 20px;
    /*大小*/
    border: 2px solid rgb(116, 112, 112);
    border-radius: 10px;
    background-color: white;
    color: rgba(248,173,180,1);
    margin-top:5px ;
    /*額外加空間*/
    opacity: 0.9;
    /*透明度*/
}

.menu .box-container .box .icons a:hover{
    /*滑鼠滑過之後改變icons的背景顏色 顏色*/
    background-color: rgba(248,173,180,1);
    color: red;
    opacity: 1;
}


/* 第五區圖片 */
.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/*整個container做排版並給予間距10px*/

.gallery .box-container .box{
    /*圖片的box*/
    flex: 1 1 10px;
    /*排版*/
    height: 300px;
    /*高度*/
    background-color: rgba(248,173,180,1);
    box-shadow: 5px 5px 5px white;
    border: 1px solid darkred;
    /*框線*/
    border-radius: 20px;
    /*圓弧狀*/
    position: relative;
    /*改定位*/
    overflow: hidden;
}

.gallery .box-container .box img{
    /*box裡面的圖片*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    /*圓弧狀*/
    z-index: 1;
    /*往上提一層*/
}

.gallery .box-container .box .content{
    /*叫出.box 裡面的content*/
    position: absolute;
    /*用 position: absolute的方式浮出*/
    top: -100%;
    left: 0;
    /*靠左*/
    height: 100%;
    width: 100%;
    /*高 寬 100%*/
    background: white;
    /*背景顏色*/
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    /*文字置中*/
}

.gallery .box-container .box:hover .content{
    /*用滑鼠經過會改變位置的方式 把字叫出來*/
    top: 0;
    /*原本式-100% 改到0 就會出來*/
    opacity: 0.8;
    /*透明度*/
}

.gallery .box-container .box h3{
    font-size: 25px;
    
}

.gallery .box-container .box p{

    font-size: 20px;
    vertical-align: middle;
    
}


/* 第六區評論 */
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/*評論區的區塊*/
.review .box-container .box{
    /*每個評論的box*/
    text-align: center;
    /*置中*/
    padding: 10px;
    /*10px間距*/
    border: 8px solid white;
    /*邊框*/
    box-shadow: 5px 5px 5px black;
    /*陰影*/
    border-radius: 20px;
    /*圓弧*/
    flex: 1 1 20px;
    /*編排方式*/
    background: rgba(248,173,180,1);
    /*背景顏色*/
    margin-top: 80px;
}

.review .box-container .box img{
    /*調整統一圖片大小*/
    width: 150px;
    height: 150px;
    /*150 寬跟高*/
    border-radius: 50%;
    /*變成圓形*/
    border: 8px solid black;
    /*邊框*/
    margin-top: -100px;
    /*把外框粉紅色的框框 往下調*/
    object-fit: cover;
    /*覆蓋整個*/
}

.review .box-container .box h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.review .box-container .box i{
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;

}

.review .box-container .box p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 10px;
    
}

/*額外家的圖片*/
.immg .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.immg .box-container img{
    margin: auto;
    text-align: center;
    padding: 10px;
    
}
    
    
/* 第七區訂購 */
.order .row{
    padding: 10px;
    /*增加空間*/
    box-shadow: 5px 5px 5px rgb(116, 112, 112);
    /*陰影*/
    background: white;
    /*背景顏色*/
    display: flex;
    /*設定版面是flew*/
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 20px;
    /*圓弧狀*/
}

.order .row .image{
    flex: 1 1 30px;
}
/*改圖片排版*/

.order .row .image img{
    /*改圖片大小*/
    height: 450px;
    /*大小450px*/
    width: 100%;
    /*寬度100%  要寫不然會變成 佔一整行頁面*/
    object-fit: cover;
    /*覆蓋全部*/
    border-radius: 20px;
    /*有點圓弧*/
}

.order .row form .inputbox input, .order .row form textarea{
    /*.order .row 裏頭的 form 裏頭的.inputBox 裏頭的input, .order .row form textarea{*/
    padding: 10px;
    /*寬度 */
    margin: 10px;
    /*邊框空間*/
    font-size: 20px;
    /*字體大小改變*/
    color: black;
    /*顏色*/
    text-transform: none;
    border: 2px solid black;
    /*邊框*/
    border-radius: 20px;
    /*圓弧*/
}

.order .row form textarea{
    /*改訂購留言板*/
    width: 100%;
    /*防止變小 寬度用100%*/
    resize: none;
    /*不調整size*/
    height: 220px;
    margin: 5px;
}

.order .row form .btn3{
    font-size: 30px;
    /*字體大小30*/
    padding: 10px;
    /*增加空間*/
    width: 100%;
    /*寬度100%*/
    border-radius: 20px;
    /*圓弧*/
    color:white;
    display:flex;
    /*置中*/
    justify-content: center;
    align-items: center;
    background: rgb(92, 160, 248);
}

.order .row form .btn3:hover{
    color: black;
    background: white;
    box-shadow: inset 400px 0 0 0 white;
    transition: 1s all;
}


    
/* 第八區footer */
.footer{
    background: white;
    text-align: center;
    color: black;
}/*改背景顏色 置中*/

.footer .social{
    /*社群網站的圖標*/
    display: flex;
    /*排列方式是*/
    flex-wrap: wrap;
    /*列*/
    gap: 10px;
    justify-content: center;
    align-items: center;
    /*置中*/
}

.footer .credit{
    /*創作者部分字型*/
    padding: 10px;
    color: rgb(70, 69, 69);
    font-weight: normal;
}

.footer .credit span{
    color: rgb(98, 130, 177);
}

/*回到上層按鈕*/
#scroll-up{
    position: fixed;
    /*定在一個地方*/
    top: -120%;
    /*一開始會-120% 也就是說他會不見 滑到底才會出現*/
    right: 20px;
    /*放右邊*/
    padding: 10px;
    /*加空間*/
    font-size: 25px;
    /*字體大小*/
    background: black;
    color: white;
    border-radius: 10px;
    /*圓弧狀*/
    opacity: 0.8;
    /*透明度*/
    transform: 1s linear;
    /*動畫效果*/
}
#scroll-up.active{
 top:80%;
 /*因為目前沒有active要到js寫出來*/
}



/*RWD 手機板 */

/*第一區header*/
@media(max-width:600px){
    /* 寬度小於600時才出來 */
    #menu-bar{
        display: initial;
        /* display: initial;初始的狀態 */
        position: absolute;
        right: 10px;
        /* 定位最右邊10px的位置 */
        top:20px;
        /* 上方20px的地方 */
    }
    header .navbar{
        /*header 的.navbar導覽列*/
        position: absolute;
        /* 位置absolute */
        top: 80px; left: 0; right: 0;
        /* 高度 左邊 右邊 排版 */
        background-color: rgb(247, 235, 129);
        border-top: 3px solid gray;
        /*隱藏下拉選單*/
        clip-path: polygon(0 0, 100% 0 ,100% 0 ,0 0);
    }

    header .navbar a{
        /*疊起來*/
        display: block;
        font-size: 22px;
        font-weight: normal;
        color:rgb(5, 13, 20);
        /*顏色變化*/
        margin:10px;
        padding: 6px;
        border-left:3px solid gray;
        background-color: rgb(241, 241, 241);
        /*空間背景顏色*/
        /*這邊的部分是為了把上面這些連結 存到按鈕裏頭*/
        
    }

    header .navbar.active{  /*navbar.active 之間不能有空格*/
        clip-path:polygon(0 0, 100% 0, 100% 100%,0 100%);
        /*顯示出一個區塊*/
        padding: 10px;
    }
    /*讓選單導覽列的內容顯示出來*/
    /*因為還沒有active 所以要用到js 來把第一區的內容 產生到active裏頭*/

    headr .logo2 img{
        width:0%;
    }

    /*第二區 由於是響應式網站所以對手機版本做調整*/
    .home .content{
        text-align: center;
        margin-top: 70px;
        /*增加空間*/
        padding-top: 150px;
    }
    .home img{
        width: 400px;
        /*調整新產品的圖片大小*/
        margin-top: 80px;
        /*調整高度*/
        margin-left: -50px;
    }

    .btn{
        /*調整按鈕*/
        width: 100%;
        z-index: 4;

    }

    /*第三區*/
    .category .box-container .box{
        /*讓他變成一欄*/
        /* flex-direction: column;*/
        flex: 1 1 auto;
    }

    .category .box-container .box .content img{
        height: 150px;
        width: 130px;
        margin: 10px;
    }

     /*第四區*/
     .menu .box-container .box{
        /*讓他變成一欄*/
        /* flex-direction: column;*/
        flex: 1 1 auto;
    }

     /*第五區*/
     .gallery .box-container .box{
        /*讓他變成一欄*/
        /* flex-direction: column;*/
        flex: 1 1 auto;
    }

    /*額外加的*/
    .immg .box-container img{
        /*讓他變成一欄*/
        /* flex-direction: column;*/
        flex: 1 1 auto;
        width: 300px;
    }

     /*第六區*/
     .review .box-container .box{
        /*讓他變成一欄*/
        /* flex-direction: column;*/
        flex: 1 1 auto;
    }
    


     /*第七區*/
     .order .box-container .box{
        /*讓他變成一欄*/
        /* flex-direction: column;*/
        flex: 1 1 auto;
    }



}
